__pycache__
build
*.egg-info
*.eggs
.pytest_cache/
.coverage
.idea/
pytest_secrets.env
.DS_Store
/.idea/
/.idea/inspectionProfiles/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/sokannonser-api.iml
/.idea/vcs.xml
/.idea/workspace.xml
