git+https://github.com/JobtechSwe/jobtech-common.git
elasticsearch
flask
flask-restx
flask-cors
requests
certifi
python-dateutil
pytest
pytest-cov
# on 4xx shows correct transaction.result, not 5xx
elastic-apm[flask]==5.2.3
flashtext
elasticsearch-dsl
Werkzeug==1.0.1

#slackclient==2.0.0
pycares==2.4.0
slackclient