git+https://github.com/JobtechSwe/jobtech-common.git
elasticsearch
flask
flask-restx
flask-cors
requests
certifi
python-dateutil
pytest
pytest-cov
elastic-apm[flask]
flashtext
elasticsearch-dsl
Werkzeug==1.0.1
